body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cont-agregar-carrito {
	display: inline-block;
}
.agregar-carrito {
	width: 320px;
    display: flex;
    flex-flow: column;
    box-sizing: border-box;
}
	.agregar-carrito div {
	    display: flex;
	    box-sizing: border-box;
	    flex-flow: row;
	    width: 100%;
	    justify-content: space-between;
	    align-items: center;
	    box-sizing: border-box;
	    border: 1px solid #cdcdcd;
	    border-radius: 5px
	}
		.agregar-carrito div button {
			border: none;
		    font-weight: bold;
		    background-color: transparent;
		    font-size: 20px;
		    padding: .2rem .5rem;
		    box-sizing: border-box;
		}
		.agregar-carrito div button:hover {
			color: #2196f3;
		}
		.agregar-carrito div input {
			text-align: center;
			border: none;
			background-color: transparent;
		}

		.agregar-carrito .button-submit {
			border: 1px solid #03a9f4;
		    background-color: transparent;
		    margin: 10px 0;
		    border-radius: 5px;
		    padding: 5px;
		    color: #03a9f4;
		}